/* style.css: */

/* load local working version of font */
@font-face {
    font-family: 'Dosis-VF';
    src: url('fonts/Dosis-VF.ttf');
    format("truetype");
    /*font-weight: bold;*/
    font-weight: bold;
}

/* Basic style */
body {
    background-color: #aaaaaa;
    color: #000000;
    font-family: 'Dosis-VF';
}

h1 { margin: 0; font-size: 3rem; line-height: 3rem; }
h2 { margin: 0; font-size: 2rem; }
h3 { margin: 0; font-size: 1rem; }
h4 { margin: 0; font-size: 1rem; }
h5 { margin: 0; font-size: 1rem; }
h6 { margin: 0; font-size: 1rem; }
p  { margin: 0; font-size: 1rem; }

hr {
    display: block;
    height: 4px;
    border: 0;
    border-top: 2px solid #000000;
    margin: 0;
    margin-bottom: 1em;
    padding: 0; 
}

/* load all remote fonts */

.variable {
    font-family: 'Dosis-VF';
    --wght: 0;
    font-variation-settings: 'wght' var(--wght);
}

.mono {
    font-family: 'Overpass Mono', monospace;
}

/* grid setup */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    background-color: #aaaaaa;
    padding: 32px;
}

.grid-container > div {
    background-color: #dddddd;
    border-color: #000000;
    border-width: 2px;
    text-align: left;
    padding: 32px;
    margin: 0;
    overflow-wrap: break-word;
}

/* grid units */
.controls { 
    padding: 0; 
    margin: 0; 
    border-color: #000000;
    border-width: 2px; 
    border-style: solid; 
    box-shadow: 4px 4px 0px #000000;
}

.float-above {
    position: fixed;
    right: 24px;
}

.intro { 
    grid-column-start: 1; 
    grid-column-end: 3; 
    border-color: #000000;
    border-width: 2px;
    border-style: solid; 
    box-shadow: 4px 4px 0px #000000;
}

.left { 
    grid-column-start: 1; 
    grid-column-end: 3; 
    border-color: #000000;
    border-width: 2px; 
    border-style: solid; 
    box-shadow: 4px 4px 0px #000000;
}

.center { 
    grid-column-start: 2; 
    grid-column-end: 3; 
    border-color: #000000;
    border-width: 2px; 
    border-style: solid; 
    box-shadow: 4px 4px 0px #000000;
}

.right { 
    grid-column-start: 3; 
    grid-column-end: 4;
    border-color: #000000;
    border-width: 2px; 
    border-style: solid; 
    box-shadow: 4px 4px 0px #000000;
}

.key {
    grid-column-start: 1; 
    grid-column-end: 4; 
    border-color: #000000;
    border-width: 2px; 
    border-style: solid; 
    box-shadow: 4px 4px 0px #000000;
}

.dark {
    background-color: green;
}

.overlay {
    grid-column-start: 1; 
    grid-column-end: 4; 
    background-color: #000000;
    border-color: #000000;
    border-width: 2px; 
    border-style: solid; 
    box-shadow: 4px 4px 0px #000000;
}

.formcontainer {
    font-family: 'Overpass Mono', monospace;
}


.form-row {
    position: relative;
    margin: 0;
}

.variable {
    font-family: 'Dosis-VF';
    --wght: 300;
    font-variation-settings: 'wght' var(--wght);
}

/* colors */
.red    { color: red;   }
.blue   { color: blue; }
.green  { color: blue;}
.uponea  { margin-top: -3.4rem; }
.uponeb  { margin-top: -2.65rem; }
/* UI */
label {
    margin-top: 0.75rem;
    font-family: 'Overpass Mono', monospace;
    display: inline-block;
}

input {
    font-size: 0.5rem;
    display: inline-block;
}

input[type=range] {
    cursor: pointer;
}

input[type=number] {
	max-width: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    font-size: 1rem;
    height: 1rem;
    font-weight: bold;
    border: 2px solid #000000;
    border-radius: 0px;
    background-color: :#888888;
    position: absolute;
    padding: 8px 8px;
    margin: 8px 0;
    color: #000000
}

input[type=number].number:focus::-webkit-slider-runnable-track {
    border: #ff2211;
}

input[type=number]:focus, textarea:focus {
    box-shadow: 4px 4px 0px #000000;
    outline: none;
    border: 2px solid #000000
}

input[type=range].slider {
    -webkit-appearance: none;
    background-color: transparent;
    width: 100%;
    margin-top: 1.25rem;
    /*
	margin-bottom: 1.25rem;
    */
    z-index: 1;
    position: relative;
}

input[type=range].slider:focus {
    outline: none;
}

/* This is the track */
input[type=range].slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: #888888;
    border-radius: 25px;
    border: 2px solid #111111;
}

/* this is the thumb */
input[type=range].slider::-webkit-slider-thumb {
    border: 2px solid #121212;
    height: 32px;
    width: 32px;
    border-radius: 50px;
    background: #cccccc;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -12px;
}

input[type=range].slider:focus::-webkit-slider-runnable-track {
    background: #ff2211;
}

@media only screen and (max-width: 1164px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 16px;
        padding: 8px;
    }
    .intro {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .controls {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .left {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .center {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .right {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .key {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .overlay {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .float-above {
        position: fixed;
        right: 0px;
        top: 0px;
    }
}
